body{
    background-image: url("../images/about1.jpg");
    background-size: cover;
}

header h1{
    text-align :center;
    font-size: 2.5em;
    font-style: italic;
    font-family: 'Kaushan Script', cursive;
    color:#D40D27;
    text-shadow: 2px 2px white;
}

.unorder{
    display: inline;
    text-align: center;
}

#hh{
    text-align:center;
}
.temp{
    display: inline;
    font-size: 20px;
    /* border: 2px solid; */
    padding: 10px;
    margin: 0 auto;
    width: 650px;
    height: 50px;
    /* background-color: rgba(27,10,7,.38); */
    /* border-radius: 20%; */
    border-color: none;
}

.text{
    font-size: 140%;
    color: white;
    font-family: 'Homemade Apple', cursive;
}

a{
    text-decoration: none;
    color: chocolate;
}

div{
    margin:0px auto;
}
input[type="Submit"] {

    background-color: blue;
    color: white;
    height: 30px;

}
a:hover{
    color:#E8E52F;
}
form{
    margin: 0 auto;
    width: 650px;
    height: 250px;
}

legend{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255,255,253);
    text-transform: capitalize;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px blue;
} 

li{
    font-size: 110%;
    color: white;
    font-family: 'Homemade Apple', cursive;
    margin-top: 25px;
}

ul{
    margin-top:15px;
}
label{
    color:#ffffff;
}

em{
    color: red;
}